@import "tailwindcss";

@theme {
  /* custom colors */
  --color-primary: #000;
  --color-secondary: #333;
  --color-detail: red;
}


@layer base{
   @keyframes shine {
    0%, 100% { background-color: black; }
    50% { background-color: red; }
  }
  .shine {
    animation: shine 3s ease-in-out infinite;
  }

  @keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-15px); }
  }
  .float {
    animation: float 3s ease-in-out infinite;
  }

  /* Estilo para esconder scrollbar no iPad (Safari/WebKit) */
  .scrollbar-hide::-webkit-scrollbar {
    display: none !important;
  }

  .scrollbar-hide {
    -ms-overflow-style: none; /* IE e Edge antigos */
    scrollbar-width: none; /* Firefox */
  }


  .container  {
    max-width: unset;
    @apply ml-auto mr-auto px-4 md:px-8  overflow-x-hidden xl:max-w-xl;
  }

  .banner-item {
    flex: 1;
    transition: 300ms !important;
    transition-delay: 500ms !important;
    @apply gap-4 transition  ease-in-out;
  }

  .banner-item img {
    @apply w-full transition ease-in-out;
  }

  .banner-item .shaddow {
    opacity: 1;
    transition: 300ms !important;
    transition-delay: 1 !important;
    transition-delay: 0.3s !important;
  }

  .banner-item .content-area {
    opacity: 1;
    transition: 300ms !important;
    transition-delay: 0.3s !important;
  }

  @media screen and (min-width: 1024px) {
    .banner-highlight {
      flex: 2 !important;
      transition-delay: 0.3s !important;
    }
  

    .banner-item .content-area {
      opacity: 0;
    }

    .banner-item .shaddow {
      opacity: 0;
    }
  }

  .banner-highlight .content-area {
    opacity: 1;
    transition-delay: 0.6s !important;
  }

  .banner-highlight .shaddow {
    opacity: 1;
  }

  html {
    scroll-behavior: smooth;
  }
}